body {
  background: radial-gradient(circle at top, #7c3aed, #020617);
  color: white;
  font-family: Arial;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(0,0,0,.6);
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 25px #7c3aed;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #7c3aed;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.card {
  margin-top: 20px;
  background: #0f172a;
  padding: 15px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.status {
  color: #22c55e;
  font-weight: bold;
}
